<template>

    <v-navigation-drawer
      v-model="inputValue"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    
    >
      <v-list nav dense>
      <div />

      <v-list-item
        v-for="(items, i) in items"
        :key="i"
        :to="items.to"
        active-class="primary white--text sombra"
        style="margin: 0px 8px 10px 8px; padding: 0px 15px"
      >
        <v-list-item-action>
          <v-icon>{{ items.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-title v-text="items.text" />
      </v-list-item>
    </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block @click="logout()">Logout</v-btn>
        </div>
      </template>
    </v-navigation-drawer>

</template>

<script>
// Utilities
import { mapMutations, mapState, mapActions } from "vuex";

export default {
  props: {
    opened: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    dialog: false,
    drawer: null,
    items: [
      { icon: 'mdi-contacts', text: 'Contacts',to: '/dashboard' },
      { icon: 'mdi-history', text: 'Groups',  to: '/dashboardGroup'},
      // {
      //   icon: 'keyboard_arrow_up',
      //   'icon-alt': 'keyboard_arrow_down',
      //   text: 'Labels',
      //   model: true,
      //   children: [
      //     { icon: 'add', text: 'Create label' },
      //   ],
      // },
      // {
      //   icon: 'keyboard_arrow_up',
      //   'icon-alt': 'keyboard_arrow_down',
      //   text: 'More',
      //   model: false,
      //   children: [
      //     { text: 'Import' },
      //     { text: 'Export' },
      //     { text: 'Print' },
      //     { text: 'Undo changes' },
      //     { text: 'Other contacts' },
      //   ],
      // },
      // { icon: 'settings', text: 'Settings' },
      // { icon: 'chat_bubble', text: 'Send feedback' },
      // { icon: 'help', text: 'Help' },
      // { icon: 'phonelink', text: 'App downloads' },
      // { icon: 'keyboard', text: 'Go to the old version' },
    ],
  }),

  computed: {
    ...mapState("app", ["image", "color"]),
    inputValue: {
      get() {
        return this.$store.state.drawer;
      },
      set(val) {
        this.setDrawer(val);
      }
    },
    ...mapState("auth", ["USER_DATA"]),
    user() {
      return this.$store.state.auth.USER_DATA;
    }
  },

  methods: {
    ...mapMutations(["setDrawer", "toggleDrawer"]),
    ...mapActions([
      'logout'
    ]),
  }
};
</script>

<style>
  .sombra {
    box-shadow: 0px 6px 12px -5px #369;
    -moz-box-shadow: 0px 6px 12px -5px #369;
    -webkit-box-shadow: 0px 6px 12px -5px #369;
  }
</style>