<template>
  <v-content :class="$vuetify.theme.dark ? '': 'grey lighten-3'" style="min-height: 100vh;">
  <!-- <v-content> -->
    <div id="core-view">
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </div>
  </v-content>
</template>

<script>
  export default {
    name: 'CoreView',
    metaInfo () {
      return {
        title: 'Terrahydrochem'
      }
    },
    created() {
      //
    }
  }
</script>
