<template>

  <div>
    <v-content >
      <!-- <v-container
        fluid
        fill-height
      > -->
        <v-layout
          align-start
          justify-center
        >
         <v-row>
      <v-col cols="12">
        
          <template>
            <div>
              <v-data-table
                :headers="headers"
                :items="users"
                :options.sync="options"
                :server-items-length="totalUsers"
                :loading="loading"
              ></v-data-table>
            </div>
          </template>
       
      </v-col>
    </v-row>
        </v-layout>
      <!-- </v-container> -->
    </v-content>
    <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      @click="dialog = !dialog"
    >
      <v-icon>add</v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      width="800px"
    >
      <v-card>
        <v-card-title class="grey darken-2">
          Create Group 
        </v-card-title>
        <v-container grid-list-sm>
          <v-layout
            row
            wrap
          >
            <v-flex
              xs12
              align-center
              justify-space-between
            >
              <v-layout align-center>
                <v-avatar
                  size="40px"
                  class="mr-3"
                >
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt=""
                  >
                </v-avatar>
                <v-text-field
                  placeholder="Group Name"
                ></v-text-field>
              </v-layout>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                prepend-icon="mdi-business"
                placeholder="Group Name"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                prepend-icon="mdi-business"
                placeholder="Group Type"
              ></v-text-field>
            </v-flex>
            
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn
            text
            color="primary"
          >More</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="dialog = false"
          >Cancel</v-btn>
          <v-btn
            text
            @click="dialog = false"
          >Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>

import { mapActions } from 'vuex';
import Vuetify from 'vuetify';

export default {
  name: "DashboardGroup",
  vuetify: new Vuetify(),
  data: () => ({
    dialog: false,
    drawer: null,
    items: [
      { icon: 'mdi-contacts', text: 'Contacts' },
      { icon: 'mdi-history', text: 'Frequently contacted' },
      {
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        text: 'Labels',
        model: true,
        children: [
          { icon: 'add', text: 'Create label' },
        ],
      },
      {
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        text: 'More',
        model: false,
        children: [
          { text: 'Import' },
          { text: 'Export' },
          { text: 'Print' },
          { text: 'Undo changes' },
          { text: 'Other contacts' },
        ],
      },
      { icon: 'settings', text: 'Settings' },
      { icon: 'chat_bubble', text: 'Send feedback' },
      { icon: 'help', text: 'Help' },
      { icon: 'phonelink', text: 'App downloads' },
      { icon: 'keyboard', text: 'Go to the old version' },
    ],
    loading: false,
      users: [],
      options: {},
      totalUsers: 0,
      headers: [

        { text: "Group name", sortable: false, value: "groupName" },
        { text: "Group type", sortable: false, value: "groupType" },
        { text: "Group Id", sortable: false, value: "id" },
      
      ]
  }),
  mounted() {
    this.getAllUsers();
  },
  methods: {
    ...mapActions([
      'logout'
    ]),
    getAllUsers() {
      var token = localStorage.getItem('accessToken');
      this.$http({
        method: 'GET',
        url: 'http://localhost:8443/groups/get_all',
        headers: {
          'x-session': token
        }
      })
      .then((result) => {
        console.log(result.data)
        this.users = result.data.data;  
        this.totalUsers = result.data.total
      })
          /*.catch(() => {
            if(navigator.onLine === false){
              this.$router.replace('failed-load')
            } else {
              this.handleRequest(err.code)
            }
          })*/
    }
  }
};
</script>