<template>
  <v-app id="core-app-bar" flat height="70">
  <div v-if="auth === null">
      <core-view/>
    </div>
    <div v-else>
      <core-bar/>
      <core-drawer />
      <core-view />
    </div>
  </v-app>  
</template>

<script>


export default {
  name: 'App',

  components: {
    CoreDrawer: () => import('@/components/core/Drawer'),
    CoreBar:() => import('@/components/core/AppBar'),
    CoreView:() => import('@/components/core/View')
  },

  data: () => ({
    //
  }),
  created: function () {
    
  },
  computed: {
    auth() {
      this.$store.dispatch('fetchAccessToken');
      return this.$store.state.accessToken;
    }
  },
};
</script>
